{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('add_task') }}" method="POST" class="bg-white p-4 rounded shadow">
    <label for="title" class="block text-gray-700">Task Title:</label>
    <input type="text" name="title" id="title" class="w-full p-2 border rounded mt-2">
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded mt-4">Add Task</button>
    <a href="{{ url_for('index')}}" class="bg-orange-400 text-white py-2 px-4 rounded mt-44">Back</a>
</form>



{% endblock %}